/* Color Theme Swatches in Hex */
.garita-de-guarda-vidas-en-la-playa--1-hex { color: #548C8C; }
.garita-de-guarda-vidas-en-la-playa--2-hex { color: #A68863; }
.garita-de-guarda-vidas-en-la-playa--3-hex { color: #26221F; }
.garita-de-guarda-vidas-en-la-playa--4-hex { color: #A62F03; }
.garita-de-guarda-vidas-en-la-playa--5-hex { color: #731702; }

/* Color Theme Swatches in RGBA */
.garita-de-guarda-vidas-en-la-playa--1-rgba { color: rgba(84, 140, 140, 1); }
.garita-de-guarda-vidas-en-la-playa--2-rgba { color: rgba(165, 135, 99, 1); }
.garita-de-guarda-vidas-en-la-playa--3-rgba { color: rgba(38, 33, 30, 1); }
.garita-de-guarda-vidas-en-la-playa--4-rgba { color: rgba(165, 46, 3, 1); }
.garita-de-guarda-vidas-en-la-playa--5-rgba { color: rgba(114, 22, 2, 1); }

/* Color Theme Swatches in HSLA */
.garita-de-guarda-vidas-en-la-playa--1-hsla { color: hsla(180, 25, 44, 1); }
.garita-de-guarda-vidas-en-la-playa--2-hsla { color: hsla(33, 27, 52, 1); }
.garita-de-guarda-vidas-en-la-playa--3-hsla { color: hsla(22, 10, 13, 1); }
.garita-de-guarda-vidas-en-la-playa--4-hsla { color: hsla(16, 96, 33, 1); }
.garita-de-guarda-vidas-en-la-playa--5-hsla { color: hsla(11, 96, 22, 1); }
